[Unit]
Description=This tool register LXD(snap) network bridges to docker's iptables chain DOCKER-USER.
After=docker.service snap.lxd.daemon.unix.socket
Wants=docker.service snap.lxd.daemon.unix.socket

[Service]
Type=oneshot
ExecStart=lb2d
RemainAfterExit=true
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
