Package: ib2d
Maintainer: Sifi Takashina <sifyfy@sifyfy.dev>
Architecture: amd64
Version: 0.1.0-1
Depends: systemd
Description: "ib2d" means "incus network bridges to docker".
 This tool register incus network bridges to docker's iptables chain `DOCKER-USER`.
 See: <https://linuxcontainers.org/incus/docs/main/howto/network_bridge_firewalld/#prevent-connectivity-issues-with-incus-and-docker>
